*{
    box-sizing: border-box;
}
.calculator {
    width: 500px;
    height: 800px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap:15px;
  }
  
  .input {
    width: 100%;
    height: 140px;
    font-size: 48px;
    text-align: right;
    padding: 5px;
    border: none;
    background-color: rgb(243, 233, 215);
    margin-left: -2px;
    border: 4px solid green;
    border-radius: 20px;
  }

  .keypad{
    margin-top: 30px;
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

   
  .button-group{
    display: flex;
    width: 100%;
    gap: 8px;
    justify-content: center;
    margin:4px;
  }

  .flex-gorw-2{
    flex: 2.5;
  }

  button {
    flex: 1;
    padding: 25px;
    font-size: 36px;
    border-radius: 100px;
    border: none;
    background-color: rgb(142, 202, 128);
    color: rgb(2, 64, 2);
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 1px 4px;
    font-weight: 900;

  }
  
  button:hover {
    background-color: rgb(6, 69, 19);
    color: white;
  }
  
 
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #222;
  }
  
  footer{
    font-size: 20px;
    width: 50%;
    margin-top: 36px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color:wheat;
    display: flex;
    justify-content: center;
    gap: 8px;
    border-radius: 20px;
  }